In [2]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd

df = pd.read_csv("../base_datos_2008.csv/base_datos_2008.csv")
df = df.sample(frac=1)
df = df.head(500000)

In [3]:
df = df.dropna(subset=["ArrDelay"])

In [4]:
Y = df["ArrDelay"] > 0

In [5]:
df["Month"] = df["Month"].apply(str)
df["DayofMonth"] = df["DayofMonth"].apply(str)
df["DayOfWeek"] = df["DayOfWeek"].apply(str)
df["TailNum"] = df["TailNum"].apply(str)

X = pd.get_dummies(data=df[["Month","DayofMonth", "DayOfWeek", "Origin", "Dest", "UniqueCarrier", "TailNum"]])

In [6]:
X.head()

,Month_1,Month_10,Month_11,Month_12,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,...,TailNum_N995DL,TailNum_N996AT,TailNum_N996DL,TailNum_N997AT,TailNum_N997DL,TailNum_N998AT,TailNum_N998DL,TailNum_N999CA,TailNum_N999DN,TailNum_NHZOAL
1154244,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4553646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2947216,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6268530,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3050580,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
clf = BernoulliNB()
#clf = MultinomialNB()
clf.fit(X,Y)
Y_pred = clf.predict(X)

In [ ]:
np.mean(Y == Y_pred)

In [ ]:
1 - np.mean(Y)

In [ ]:
X = df[["AirTime", "Distance", "TaxiIn", "TaxiOut"]] #DepDelay
clf = GaussianNB()
clf.fit(X, Y)
Y_pred = clf.predict(X)

In [ ]:
np.mean(Y == Y_pred)